openapi: 3.0.1
info:
  termsOfService: https://termofservice.it
  x-api-id: api-external-mandate-b2b-appio
  title: "Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO"
  x-summary: 'Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per:
      - creare una delega in stato PENDING
      - ACCETTARE una delega attraverso la presentazione dei dati presenti sulla CIE del delegante
servers:
  - url: https://api-io.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api-io.uat.notifichedigitali.it
    description: Ambiente di collaudo
  - url: https://api-io.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api-io.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Mandate-Create
    description: Mandate Creation
paths:
  /mandate/api/v2/mandate:
    post:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Crea una nuova delega in stato PENDING, restituendo i dati della stessa in caso di successo
      operationId: createTempMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                        # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: User not authorized
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  /mandate/api/v2/{mandateId}/accept:
    patch:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Accetta la delega
      operationId: acceptTempMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            maxLength: 36
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIEValidationData'
      responses:
        '200':
          description: No Content
        '403':
          description: User not authorized
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


components:
  parameters:

    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxRoleAuthFleet:
      name: x-pagopa-pn-cx-role
      in: header
      description: Ruolo (estratto da token di Self Care)
      required: false
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 64


 

  ############################################################################################
  ###                     HEADER DI AUTENTICAZIONE LOLLIPOP                               ###
  ############################################################################################
    lollipopOriginalUrl: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalUrl'                           # ONLY EXTERNAL
    lollipopOriginalMethod: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalMethod'                        # ONLY EXTERNAL
    lollipopPublicKey: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopPublicKey'                             # ONLY EXTERNAL
    lollipopAssertionRef: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionRef'                          # ONLY EXTERNAL
    lollipopAssertionType: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionType'                         # ONLY EXTERNAL
    lollipopAuthJwt: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAuthJwt'                               # ONLY EXTERNAL
    lollipopUserId: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopUserId'                                # ONLY EXTERNAL
    lollipopSignatureInput: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignatureInput'                        # ONLY EXTERNAL
    lollipopSignature: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignature'                             # ONLY EXTERNAL

    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$

  schemas:
    MandateRequest:
      type: object
      required:
        - flowType
        - delegator
        - delegate
      properties:
        flowType:
          type: string
          enum: [ standard, b2b, b2breverse, cie ]
          description: Tipo di flusso che attiva la creazione delega
        delegator:
          $ref: '#/components/schemas/UserDto'
        delegate:
          $ref: '#/components/schemas/UserDto'
        duration:
          type: string
          format: duration
          description: >
            Durata della delega (RFC3339 duration, es. "P1Y" per 1 anno, "PT15M" per 15 minuti).
            Esempi:
              - Lunga durata (1 anno): "P1Y"
              - Breve durata (15 minuti): "PT15M"
            Qualora venga omesso, viene usato il valore di default rispetto al flowType indicato: 
            - `standard`: 6 mesi
            - `b2b`: 1 anno
            - `cie`: 15 minuti
          example: "P1Y"
        filterOptions:
          $ref: '#/components/schemas/FilterOptions'

    FilterOptions:
      type: array
      maxItems: 5
      description: >
        Elenco di filtri distinti applicabili alla delega (massimo 5).
        Ogni elemento rappresenta un filtro e i filtri sono combinati tra loro con operatore AND.
        All'interno dello stesso filtro è applicato l'OR.
      items:
        type: object
        properties:
          iun:
            type: array
            items:
              type: string
            description: >
              Lista di IUN/QRCode. Il QRCode è quello associato ad un AAR 
              e permette l'individuazione di uno IUN
          taxonomy:
            type: array
            items:
              type: string
            description: Codice tassonomico notifiche
          sender:
            type: array
            items:
              type: string
            description: PA Id's
      example:
        - iun: [ "IUN1234567890" ]

    MandateDto:
      type: object
      properties:
        mandateId:
          type: string
          maxLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
          description: Available always, not required on mandate creation.
          nullable: true
        delegator:
          $ref: '#/components/schemas/UserDto'
        delegate:
          $ref: '#/components/schemas/UserDto'
        status:
          type: string
          description: Available always, not required on mandate creation.
          nullable: true
          enum:
            - pending
            - active
            - revoked
            - rejected
            - expired
        filterOptions:
          $ref: '#/components/schemas/FilterOptions'
        verificationCode:
          type: string
          maxLength: 5
          pattern: ^[0-9]*$
          description: Available only for request where requesting user is the delegator
          nullable: true
        dateFrom:
          type: string
          description: ISO 8601 format
          maxLength: 10
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
        dateTo:
          type: string
          description: ISO 8601 format
          maxLength: 10
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupDto'

    MandateCreationResponse:
      type: object
      required:
        - requestTTL
        - mandate
      properties:
        requestTTL:
          type: integer
          format: int32
        mandate:
          $ref: '#/components/schemas/MandateDto'


    OrganizationIdDto:
      type: object
      properties:
        name:
          type: string
          maxLength: 250
          pattern: ^([\x20-\xFF]{1,250})$
        uniqueIdentifier:
          type: string
          maxLength: 50
          # ASCII printable characters
          pattern: ^[ -~ ]*$
      description: Available always, not required on mandate creation.
      nullable: true

    UserDto:
      type: object
      properties:
        displayName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        firstName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        lastName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        companyName:
          type: string
          maxLength: 250
          pattern: '^([\x20-\xFF]{1,250})$'
        fiscalCode:
          type: string
          maxLength: 16
          pattern: '^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$'
        person:
          type: boolean
      nullable: true

    GroupDto:
      type: object
      properties:
        id:
          type: string
          maxLength: 50
          # ASCII printable characters
          pattern: ^[ -~ ]*$
        name:
          type: string
          # ASCII printable characters
          maxLength: 80
          pattern: ^[ -~ ]*$

    CIEValidationData:
      type: object
      required:
        - signedNonce
        - nisData
        - mrtdData
      properties:
        signedNonce:
          type: string
        nisData:
          $ref: '#/components/schemas/NISData'
        mrtdData:
          $ref: '#/components/schemas/MRTDData'

    NISData:
      type: object
      required:
          - nis
          - pub_key
          - sod
      properties:
        nis:
          type: string
          nullable: false
        pub_key:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false

    MRTDData:
      type: object
      required:
        - dg1
        - dg11
        - sod
      properties:
        dg1:
          type: string
          nullable: false
        dg11:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes
              
