openapi: 3.0.1
info:
  termsOfService: https://termofservice.it
  x-api-id: api-external-mandate-b2b-appio
  title: "Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO"
  x-summary: 'Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per:
      - creare una delega in stato PENDING
      - ACCETTARE una delega attraverso la presentazione dei dati presenti sulla CIE del delegante
servers:
  - url: https://api-io.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api-io.uat.notifichedigitali.it
    description: Ambiente di collaudo
  - url: https://api-io.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api-io.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Mandate-Create
    description: Mandate Creation
paths:
  /mandate/api/v2/mandate:
    post:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Create a new mandate, returns the just created mandate if successful
      operationId: createTempMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                        # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/pathIun'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: User not authorized
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  /mandate/api/v2/{mandateId}/accept:
    patch:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Accept a mandate
      operationId: acceptTempMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            maxLength: 36
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIEValidationData'
      responses:
        '200':
          description: No Content
        '403':
          description: User not authorized
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


components:
  parameters:

    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxRoleAuthFleet:
      name: x-pagopa-pn-cx-role
      in: header
      description: Ruolo (estratto da token di Self Care)
      required: false
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 64


 

  ############################################################################################
  ###                     HEADER DI AUTENTICAZIONE LOLLIPOP                               ###
  ############################################################################################
    lollipopOriginalUrl: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalUrl'                           # ONLY EXTERNAL
    lollipopOriginalMethod: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalMethod'                        # ONLY EXTERNAL
    lollipopPublicKey: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopPublicKey'                             # ONLY EXTERNAL
    lollipopAssertionRef: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionRef'                          # ONLY EXTERNAL
    lollipopAssertionType: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionType'                         # ONLY EXTERNAL
    lollipopAuthJwt: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAuthJwt'                               # ONLY EXTERNAL
    lollipopUserId: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopUserId'                                # ONLY EXTERNAL
    lollipopSignatureInput: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignatureInput'                        # ONLY EXTERNAL
    lollipopSignature: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignature'                             # ONLY EXTERNAL

    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$

  schemas:
    MandateCountsDto:
      type: object
      properties:
        value:
          type: integer
          format: int32



    MandateRequest:
      type: object
      required:
        - flowType
        - delegator
        - delegate
      properties:
        flowType:
          type: string
          enum: [ standard, b2b, cie ]
          description: Flow type
        delegator:
          $ref: '#/components/schemas/UserDto'
        delegate:
          $ref: '#/components/schemas/UserDto'
        duration:
          type: string
          format: duration
          description: >
            Mandate lenght (RFC3339 duration, es. "P1Y"  1 year, "PT15M"  15 minutes).
            Example:
              - Long time duration (1 year): "P1Y"
              - Short duration (15 minutes): "PT15M"
            If missing, following defaults will be used: 
            - `standard`: 6 months
            - `b2b`: 1 year
            - `cie`: 15 minutes
          example: "P1Y"
        filterOptions:
          $ref: '#/components/schemas/FilterOptions'

    FilterOptions:
      type: array
      maxItems: 5
      description: >
        List filters applied to mandate. Each element is a filter; filter are combined with a logical OR.
      items:
        type: object
        properties:
          iun:
            type: array
            items:
              type: string
            description: IUN List
          taxonomy:
            type: array
            items:
              type: string
            description: Taxonomic Code
          sender:
            type: array
            items:
              type: string
            description: PA Id's
      example:
        - iun: [ "IUN1234567890" ]



    MandateCreationResponse:
      type: object
      required:
        - requestTTL
        - mandate
      properties:
        requestTTL:
          type: integer
          format: int32
          required: true
        mandate:
          $ref: '#/components/schemas/MandateDto'

    MandateData:
      type: string
      description: Origin QRCode for mandate creation
      nullable: true
    delegate:
      $ref: '#/components/schemas/DelegateData'

    DelegateData:
      type: object
      properties:
        denomination:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'


    MandateDto:
      type: object
      properties:
        mandateId:
          type: string
          maxLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
          description: Available always, not required on mandate creation.
          nullable: true
        delegator:
          $ref: '#/components/schemas/UserDto'
        delegate:
          $ref: '#/components/schemas/UserDto'
        status:
          type: string
          description: Available always, not required on mandate creation.
          nullable: true
          enum:
            - pending
            - active
            - revoked
            - rejected
            - expired
        visibilityIds:
          type: array
          description: Available always, not required on mandate creation.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationIdDto'
        verificationCode:
          type: string
          maxLength: 5
          pattern: ^[0-9]*$
          description: Available only for request where requesting user is the delegator
          nullable: true
        dateFrom:
          type: string
          description: ISO 8601 format
          maxLength: 10
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
        dateTo:
          type: string
          description: ISO 8601 format
          maxLength: 10
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupDto'
    OrganizationIdDto:
      type: object
      properties:
        name:
          type: string
          maxLength: 250
          pattern: ^([\x20-\xFF]{1,250})$
        uniqueIdentifier:
          type: string
          maxLength: 50
          # ASCII printable characters
          pattern: ^[ -~ ]*$
      description: Available always, not required on mandate creation.
      nullable: true
    UserDto:
      type: object
      properties:
        displayName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        firstName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        lastName:
          type: string
          maxLength: 80
          pattern: '^([\x20-\xFF]{1,80})$'
        companyName:
          type: string
          maxLength: 250
          pattern: '^([\x20-\xFF]{1,250})$'
        fiscalCode:
          type: string
          maxLength: 16
          pattern: '^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$'
        person:
          type: boolean
      description: Available only for request where requesting user is the delegator
      nullable: true
    GroupDto:
      type: object
      properties:
        id:
          type: string
          maxLength: 50
          # ASCII printable characters
          pattern: ^[ -~ ]*$
        name:
          type: string
          # ASCII printable characters
          maxLength: 80
          pattern: ^[ -~ ]*$
    AcceptRequestDto:
      type: object
      properties:
        verificationCode:
          type: string
          maxLength: 5
          pattern: ^[0-9]*$
        groups:
          type: array
          items:
            type: string
            # ASCII printable characters
            maxLength: 80
            pattern: ^[ -~ ]*$
    UpdateRequestDto:
      type: object
      properties:
        groups:
          type: array
          maxItems: 10
          items:
            type: string
            # ASCII printable characters
            maxLength: 39
            pattern: ^[ -~ ]*$
    SearchMandateRequestDto:
      type: object
      properties:
        taxId:
          type: string
          minLength: 11
          maxLength: 16
          pattern: "^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}$|^(IT)?[0-9]{11}$"
        groups:
          type: array
          items:
            type: string
            # ASCII printable characters
            maxLength: 80
            pattern: ^[ -~ ]*$
        status:
          type: array
          items:
            type: string
            maxLength: 10
            pattern: ^[A-Za-z]+$
    SearchMandateResponseDto:
      type: object
      properties:
        resultsPage:
          type: array
          items:
            $ref: '#/components/schemas/MandateDto'
        moreResult:
          description: Indica se sono presenti ulteriori pagine di risultati
          type: boolean
        nextPagesKey:
          description: >-
            Elenco, non esaustivo, delle chiavi da usare per richiedere le 
            pagine di risultati successive a quella corrente. <br/>
            Valorizzato solo se il campo __moreResult__ ha valore __true__.
          type: array
          items:
            type: string
    MandateByDelegatorRequestDto:
      type: object
      required:
        - mandateId
        - delegatorId
      properties:
        mandateId:
          type: string
          maxLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        delegatorId:
          type: string
          # ASCII printable characters
          maxLength: 39
          pattern: ^[ -~ ]*$

    CIEValidationData:
      type: object
      required:
        - signedNonce
        - nisData
        - mrtdData
      properties:
        signedNonce:
          type: string
        nisData:
          $ref: '#/components/schemas/NISData'
        mrtdData:
          $ref: '#/components/schemas/MRTDData'


    NISData:
      type: object
      required:
          - nis
          - pub_key
          - sod
      properties:
        nis:
          type: string
          nullable: false
        pub_key:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false

    MRTDData:
      type: object
      required:
        - dg1
        - dg11
        - sod
      properties:
        dg1:
          type: string
          nullable: false
        dg11:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false




  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes
              
