openapi: 3.0.1
info:
  termsOfService: https://termofservice.it
  x-api-id: api-external-mandate-b2b-appio
  title: "Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO"
  x-summary: 'Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da AppIO'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
  description: |-
    ## Abstract
    
    API utilizzate dal backend di AppIO per:
      - creare una delega temporanea in stato PENDING
      - ACCETTARE una delega attraverso la presentazione dei dati presenti sulla CIE del delegante
    
    La delega temporanea verrà definita come un caso particolare delle deleghe “permanenti”
    (sono comunque limitate nel tempo, ma per distinguerla la chiameremo <b>permanente</b>)
    comunemente utilizzate in SEND.<br>
    In particolare, la delega temporanea sarà una delega:
    -  con un periodo di validità limitato
    - limitata all’accesso ad una notifica
    
    La delega temporanea coesisterà con quella permanente. <br>
    I vincoli saranno:
    - una sola delega temporanea per la terna (delegato, delegante, iun) in stato <i>Active</i>
    - una sola delega permanente per la coppia (delegato, delegante) valida in ogni istante (in stato <i>Active</i> e non ancora scaduta)


servers:
  - url: https://api-io.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api-io.uat.notifichedigitali.it
    description: Ambiente di collaudo
  - url: https://api-io.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api-io.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Mandate-Create
    description: Mandate Creation
paths:
  /mandate/api/v1/io/mandate:
    post:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Crea una delega temporanea in stato PENDING
      description: Crea una nuova delega in stato PENDING che in seguito all'accettazione può permettere l'accesso temporaneo ad una notifica. Restituisce i dati della delega in caso di successo
      operationId: createIOMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/lollipopUserName'                        # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/lollipopUserFamilyName'                  # NO EXTERNAL
#        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                        # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
#        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandateCreationRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateCreationResponse'
        '400':
          description: Bad Request - QRCode non trovato o in formato non corretto
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
              examples:
                createMandateInvalidQRError:
                  $ref: '#/components/examples/CreateMandateInvalidQRError'
                createMandateQRNotFoundError:
                  $ref: '#/components/examples/CreateMandateQRNotFoundError'
        '401':
          description: Unauthorized - Token di autenticazione mancante o non valido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              examples:
                unauthorizedError:
                  $ref: '#/components/examples/UnauthorizedError'
        '403':
          description: Forbidden - Utente non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              examples:
                forbiddenError:
                  $ref: '#/components/examples/ForbiddenError'
        '409':
          description: Conflict - Esiste già una delega in stato attiva o pending tra il delegante e delegato per lo stesso IUN.
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
              examples:
                createMandateConflictError:
                  $ref: '#/components/examples/CreateMandateConflictError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
              examples:
                internalServerError:
                  $ref: '#/components/examples/InternalServerError'


  /mandate/api/v1/io/mandate/{mandateId}/cie/accept:
    patch:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Accetta la delega fornendo i dati della CIE del delegante. La delega passa in stato ACTIVE in caso di successo.
      operationId: acceptIOMandate
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'                       # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'                                         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                        # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        #       - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            maxLength: 36
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIEValidationData'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized - Token di autenticazione mancante o non valido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              examples:
                unauthorizedError:
                  $ref: '#/components/examples/UnauthorizedError'
        '403':
          description: Forbidden - Utente non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              examples:
                forbiddenError:
                  $ref: '#/components/examples/ForbiddenError'
        '422':
          description: Unprocessable Entity - Verifiche CIE/NONCE non riuscite
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
              examples:
                acceptMandateCIEValidationError:
                  $ref: '#/components/examples/AcceptMandateCIEValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
              examples:
                internalServerError:
                  $ref: '#/components/examples/InternalServerError'


components:
  parameters:
    
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxRoleAuthFleet:
      name: x-pagopa-pn-cx-role
      in: header
      description: Ruolo (estratto da token di Self Care)
      required: false
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 64
    
    
    cxTypeAuthFleet: # NO EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'            # NO EXTERNAL
    cxIdAuthFleet: # NO EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'              # NO EXTERNAL
    cxGroupsAuthFleet: # NO EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'          # NO EXTERNAL
    uidAuthFleet: # NO EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'               # NO EXTERNAL
    
    
    ############################################################################################
    ###                     HEADER DI AUTENTICAZIONE LOLLIPOP                               ###
    ############################################################################################
    lollipopOriginalUrl: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalUrl'                           # ONLY EXTERNAL
    lollipopOriginalMethod: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopOriginalMethod'                        # ONLY EXTERNAL
    lollipopPublicKey: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopPublicKey'                             # ONLY EXTERNAL
    lollipopAssertionRef: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionRef'                          # ONLY EXTERNAL
    lollipopAssertionType: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAssertionType'                         # ONLY EXTERNAL
    lollipopAuthJwt: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopAuthJwt'                               # ONLY EXTERNAL
    lollipopUserId: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopUserId'                                # ONLY EXTERNAL
    lollipopSignatureInput: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignatureInput'                        # ONLY EXTERNAL
    lollipopSignature: # ONLY EXTERNAL
      $ref: 'remote-refs.yaml#/components/parameters/lollipopSignature'                             # ONLY EXTERNAL


  schemas:
    MandateCreationRequest:
      type: object
      required:
        - aarQrCodeValue
      properties:
        aarQrCodeValue:
          type: string
          description: valore del token QR-Code presente sull'avviso di avvenuta ricezione
          pattern: ^[ -~]*$
          maxLength: 300
    
    MandateDto:
      type: object
      properties:
        mandateId:
          type: string
          maxLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
          description: Available always, not required on mandate creation.
          nullable: true
        verificationCode:
          type: string
          maxLength: 5
          pattern: ^[0-9]*$
          description: Available only for request where requesting user is the delegator
          nullable: true
        dateTo:
          type: string
          description: ISO 8601 format
    
    MandateCreationResponse:
      type: object
      required:
        - requestTTL
        - mandate
      properties:
        requestTTL:
          type: integer
          format: int32
        mandate:
          $ref: '#/components/schemas/MandateDto'
    
    CIEValidationData:
      type: object
      required:
        - signedNonce
        - nisData
        - mrtdData
      properties:
        signedNonce:
          type: string
        nisData:
          $ref: '#/components/schemas/NISData'
        mrtdData:
          $ref: '#/components/schemas/MRTDData'
    
    NISData:
      type: object
      required:
        - nis
        - pub_key
        - sod
      properties:
        nis:
          type: string
          nullable: false
        pub_key:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false
    
    MRTDData:
      type: object
      required:
        - dg1
        - dg11
        - sod
      properties:
        dg1:
          type: string
          nullable: false
        dg11:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false

    ############################################################################################
    ###                     SCHEMA DI PROBLEMA AUTORIZZATIVO/AUTENTICATIVO                   ###
    ############################################################################################

    AuthError:
      type: object
      properties:
        message:
          type: string
          example: Unauthorized
  examples:
    UnauthorizedError:
      summary: Example of a 401 Unauthorized response
      value:
        message: Unauthorized
    
    ForbiddenError:
      summary: Example of a 403 Forbidden response
      value:
        message: User is not authorized to access this resource with an explicit deny
    
    CreateMandateInvalidQRError:
      summary: Esempio di risposta 400 in caso di QRCode non valido
      value:
        type: "GENERIC_ERROR"
        status: 400
        title: "Handled error"
        detail: "See logs for details in PN-MANDATE"
        traceId: "trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4"
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: "PN_MANDATE_AARQRCODE_NOT_VALID"
            element: null
            detail: "none"
    
    CreateMandateQRNotFoundError:
      summary: Esempio di risposta 400 in caso di QRCode non trovato
      value:
        type: "GENERIC_ERROR"
        status: 400
        title: "Handled error"
        detail: "See logs for details in PN-MANDATE"
        traceId: "trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4"
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: "PN_MANDATE_QR_TOKEN_NOT_FOUND"
            element: null
            detail: "none"
    
    CreateMandateConflictError:
      summary: Esempio di risposta 409 in caso di delega già esistente
      value:
        type: "GENERIC_ERROR"
        status: 409
        title: "Handled error"
        detail: "See logs for details in PN-MANDATE"
        traceId: "trace_id:de97fe15-f2b9-46c6-a029-1c18c9baec0c"
        timestamp: "2025-09-15T14:53:22.304Z"
        errors:
          - code: "PN_MANDATE_ALREADYEXISTS"
            element: null
            detail: "none"
    
    InternalServerError:
      summary: Esempio di risposta 500 in caso di errore generico
      value:
        type: "GENERIC_ERROR"
        status: 500
        title: "Unhandled error"
        detail: "See logs for details in PN-MANDATE"
        traceId: "trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4"
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: "PN_GENERIC_ERROR"
            element: null
            detail: "none"
    
    AcceptMandateCIEValidationError:
      summary: Esempio di risposta 422 in caso di errore di validazione CIE
      value:
        type: "GENERIC_ERROR"
        status: 422
        title: "Handled error"
        detail: "See logs for details in PN-MANDATE"
        traceId: "trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4"
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: "PN_MANDATE_CIE_VALIDATION_ERROR"
            element: null
            detail: "none"
  
  
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes
